/*** Tags ***/

/*** Classes ***/
.formBody {
    text-align: center;
}
.formLabelEntryPair {
    padding: 16px 8px 16px 8px
}
.inlineElement {
    display: inline-block;
}

/*** IDs ***/
#formHeader {
    font-weight: bold;
}